<template>
  <section class="page">
    <section class="page-unheader">
      <el-form
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
        label-width="80px"
        class="demo-ruleForm"
      >
        <el-form-item label="Title" prop="title">
          <el-input v-model="ruleForm.title"></el-input>
        </el-form-item>
        <el-form-item label="Content" prop="content">
          <el-input type="textarea" v-model="ruleForm.content"></el-input>
        </el-form-item>
        <el-form-item label="Cost" prop="cost">
          <el-input type="number" v-model="ruleForm.cost"></el-input>
        </el-form-item>
        <el-form-item label="Type" prop="type">
          <el-radio-group v-model="ruleForm.type">
            <el-radio label="Today"></el-radio>
            <el-radio label="Todos"></el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item v-if="ruleForm.type == 'Today'" label="Due date" required>
          <el-form-item prop="dueDate">
            <el-date-picker
              type="date"
              placeholder="Pick a date"
              v-model="ruleForm.dueDate"
              style="width: 100%;"
            ></el-date-picker>
          </el-form-item>
        </el-form-item>
      </el-form>
    </section>

    <footer>
      <div class="f-content">
        <el-button
          icon="el-icon-back"
          type="info"
          circle
          @click="home()"
        ></el-button>
      </div>
      <div class="f-content">
        <el-button
          icon="el-icon-refresh"
          type="warning"
          circle
          @click="resetForm('ruleForm')"
        ></el-button>
      </div>
      <div class="f-content">
        <el-button
          icon="el-icon-check"
          type="success"
          circle
          @click="submitForm('ruleForm')"
        ></el-button>
      </div>
    </footer>
  </section>
</template>

<script>
export default {
  data() {
    return {
      ruleForm: {
        title: "",
        content: "",
        cost: 0,
        dueDate: "",
        type: "Today"
      },
      rules: {
        title: [
          {
            required: true,
            message: "Please input title",
            trigger: "blur"
          }
        ],
        content: [
          {
            required: true,
            message: "Please input content",
            trigger: "blur"
          }
        ],
        cost: [
          {
            type: "number",
            required: true,
            message: "Please input cost",
            trigger: "blur"
          }
        ],
        dueDate: [
          {
            type: "date",
            required: true,
            message: "Please pick a date",
            trigger: "change"
          }
        ]
      }
    };
  },
  methods: {
    home() {
      this.$router.push({ name: "Dashboard" });
    },
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          alert("submit!");
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>
