<template>
  <section class="page">
    <header>
      <div class="top">
        <div>
          <span class="text-success">99</span>/<span class="text-primary"
            >99</span
          ><i class="el-icon-trophy-1"></i>
        </div>
        <div>
          <span class="text-success">99</span>/<span class="text-primary"
            >99</span
          ><i class="el-icon-date"></i>
        </div>
      </div>
      <div class="bot">
        <div>
          <el-radio-group v-model="labelType" size="small">
            <el-radio-button label="today">Today</el-radio-button>
            <el-radio-button label="todos">Todos</el-radio-button>
          </el-radio-group>
        </div>
        <div>
          <el-button type="danger" icon="el-icon-lock"></el-button>
        </div>
      </div>
    </header>

    <section class="page-content">
      <el-collapse>
        <el-collapse-item
          v-for="task in tasks"
          :key="task.id"
          :title="task.title"
        >
          <div>{{ task.content }}</div>
          <div v-if="task.cost" class="page-content-input">
            <el-input size="small" v-model="task.cost"></el-input>
          </div>
          <div class="page-content-btn">
            <div class="page-content-btn-elm">
              <el-button type="danger" icon="el-icon-delete" circle></el-button>
            </div>
            <div class="page-content-btn-elm">
              <el-button type="primary" icon="el-icon-edit" circle></el-button>
            </div>
            <div class="page-content-btn-elm">
              <el-button type="success" icon="el-icon-check" circle></el-button>
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
    </section>

    <footer>
      <div class="f-content">
        <el-button
          icon="el-icon-collection"
          type="primary"
          circle
          @click="history()"
        ></el-button>
      </div>
      <div class="f-content">
        <el-button
          icon="el-icon-bank-card"
          type="info"
          circle
          @click="spend()"
        ></el-button>
      </div>
      <div class="f-content">
        <el-button
          icon="el-icon-plus"
          type="success"
          circle
          @click="createNew()"
        ></el-button>
      </div>
    </footer>
  </section>
</template>

<script>
export default {
  data() {
    return {
      labelType: "today",
      tasks: [
        {
          id: 1,
          title: "Lorem ipsum 1",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc.",
          cost: 9999999
        },
        {
          id: 2,
          title: "Lorem ipsum 2",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc.",
          cost: 9999999
        },
        {
          id: 3,
          title: "Lorem ipsum 3",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 4,
          title: "Lorem ipsum 4",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 5,
          title: "Lorem ipsum 5",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 6,
          title: "Lorem ipsum 6",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 7,
          title: "Lorem ipsum 7",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 8,
          title: "Lorem ipsum 8",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 9,
          title: "Lorem ipsum 9",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 10,
          title: "Lorem ipsum 10",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        }
      ]
    };
  },
  methods: {
    createNew() {
      this.$router.push({ name: "AddNew" });
    },
    spend() {
      this.$router.push({ name: "Spend" });
    },
    history() {
      this.$router.push({ name: "History" });
    }
  }
};
</script>
