<template>
  <section class="page">
    <header>
      <div
        style="display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;"
      >
        <el-radio-group v-model="labelType" size="small">
          <el-radio-button label="today">Today</el-radio-button>
          <el-radio-button label="todos">Todos</el-radio-button>
        </el-radio-group>
      </div>
    </header>
    <section class="page-content">
      <el-collapse>
        <el-collapse-item
          v-for="task in tasks"
          :key="task.id"
          :title="task.title"
          class="task-done"
        >
          <div>{{ task.content }}</div>
          <div v-if="task.cost" class="page-content-input">
            <div
              style="text-align: right;
    font-size: 1.3rem;
    font-weight: bold;"
            >
              {{ task.cost }}
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
    </section>

    <FooterHome />
  </section>
</template>

<script>
import FooterHome from "@/components/FooterHome";

export default {
  components: {
    FooterHome
  },
  data() {
    return {
      labelType: "today",
      tasks: [
        {
          id: 1,
          title: "Lorem ipsum 1",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc.",
          cost: 9999999
        },
        {
          id: 2,
          title: "Lorem ipsum 2",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc.",
          cost: 9999999
        },
        {
          id: 3,
          title: "Lorem ipsum 3",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 4,
          title: "Lorem ipsum 4",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 5,
          title: "Lorem ipsum 5",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 6,
          title: "Lorem ipsum 6",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 7,
          title: "Lorem ipsum 7",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 8,
          title: "Lorem ipsum 8",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 9,
          title: "Lorem ipsum 9",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        },
        {
          id: 10,
          title: "Lorem ipsum 10",
          content:
            "Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc."
        }
      ]
    };
  }
};
</script>
