<template>
  <section class="page">
    <section class="page-unheader">
      <el-card v-for="item in spends" :key="item.id" class="spend">
        <div slot="header">
          <span style="font-weight: bold; font-size: 1.5rem;">{{
            item.year
          }}</span>
          <span
            style="float: right; padding: 3px 0; font-weight: bold; font-size: 1.3rem;"
            >9,999,999</span
          >
        </div>
        <el-row v-for="itemCost in item.cost" :key="itemCost.id">
          <el-col :span="11" class="month">{{ itemCost.month }}</el-col>
          <el-col :span="11" class="money">{{ itemCost.money }}</el-col>
        </el-row>
      </el-card>
    </section>

    <FooterHome />
  </section>
</template>

<script>
import FooterHome from "@/components/FooterHome";

export default {
  components: {
    FooterHome
  },
  data() {
    return {
      spends: [
        {
          id: 1,
          year: 2020,
          cost: [
            {
              id: 11,
              month: 11,
              money: "9,999,999"
            },
            {
              id: 12,
              month: 10,
              money: "9,999,999"
            },
            {
              id: 13,
              month: 9,
              money: "9,999,999"
            }
          ]
        },
        {
          id: 2,
          year: 2019,
          cost: [
            {
              id: 21,
              month: 12,
              money: "9,999,999"
            },
            {
              id: 22,
              month: 11,
              money: "9,999,999"
            },
            {
              id: 23,
              month: 10,
              money: "9,999,999"
            }
          ]
        }
      ]
    };
  }
};
</script>
