<template>
  <footer>
    <div class="f-content">
      <el-button
        icon="el-icon-back"
        type="info"
        circle
        @click="home()"
      ></el-button>
    </div>
  </footer>
</template>

<script>
export default {
  name: "FooterHome",
  methods: {
    home() {
      this.$router.push({ name: "Dashboard" });
    }
  }
};
</script>
