<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 768px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;

  header,
  footer {
    display: flex;
    align-items: center;

    .f-content {
      flex: 1;
      display: flex;
      justify-content: center;
    }
  }

  &-content {
    height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
    padding: 18px;

    &-btn {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }

    &-input {
      margin-top: 10px;

      input {
        width: 50%;
        float: right;
      }
    }
  }

  header {
    border-bottom: 1px solid #ccc;
    flex-direction: column;
    height: 15vh;

    .top,
    .bot {
      display: flex;
      height: 7.5vh;
      width: 100%;
    }

    .top {
      width: 100%;

      div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        i {
          margin-left: 5px;
        }
      }
    }

    .bot {
      justify-content: space-between;

      div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-weight: bold;

        i {
          margin-left: 5px;
        }
      }
    }
  }

  footer {
    max-height: 15vh;
    height: 15vh;
    border-top: 1px solid #ccc;
  }

  &-unheader {
    height: 85vh;
    max-height: 85vh;
    overflow-y: auto;
    padding: 5%;

    .spend {
      margin-bottom: 15px;

      .month {
        text-align: right;
        margin-right: 10px;
        font-size: 1.2rem;
        margin-bottom: 15px;
      }

      .money {
        font-size: 1.2rem;
        text-align: center;
      }
    }

    .year {
      font-weight: bold;
      margin-top: 0;
    }
  }
}

.el-collapse-item {
  margin-bottom: 0.8rem;

  &__header {
    background-color: transparent;
    border-radius: 5px;
    padding: 0.8rem 20px 0.8rem;
    font-size: 1rem;
    height: auto;
    line-height: 30px;
    font-weight: bold;
  }

  &__content {
    font-size: 0.9rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.text-primary {
  color: #409eff;
}

.text-success {
  color: #67c23a;
}

.text-warning {
  color: #e6a23c;
}

.task-done {
  background-color: #67c23a;
}
</style>
